body{
    background-color: black;
    background-image:url("Images/runescape.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

@keyframes wave {
    
      0% {
        transform: translateY(0);
      }
      25% {
        transform: translateY(5px);
      }
      50%{
        transform: translateY(0);
      }
      75% {
        transform: translateY(-5px);
      }
      100% {
        transform: translateY(0px);
      }
      
}
.thewave{
    margin-top: 10px;
    margin-bottom: 100px;
    text-align: center;
}
.thewave span{
    display:inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;

    animation-name:wave;
    animation-duration: 0.66s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    
    
}

/*Character lookup CSS */
#characterResults{
  margin: auto;
  column-count: 4;
  column-gap: 10px;

}

h1{
  font-size:20px;
}
/*
.thewave span:nth-child(1){
    -webkit-animation-delay: 0.1s;
}*/




.container{
    font-family:'runescape_chat_bold_07regular';
    color: white;
    text-shadow:2px 2px 4px gold;
    font-size: 30px;

}
